body {
    margin: 0;
    font-family: Arial;
 }

 header {
   margin: auto;
   position: sticky;
   top: 0;
   z-index: 100;
   height: 110px;
   width: 350px;
   padding-top: 16px;
   padding-left: 20px;
   padding-right: 20px;
   border-width: 0px;
   box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
   background-color: white;
 }

 main {
   margin: auto;
   height: 771px;
   width: 350px;
   padding-left: 20px;
   padding-right: 20px;
 }
 button {
   cursor: pointer;
 }

 .header-1  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
 }
  
 .school-media-header {
     color: #394867;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     font-size: 32px;
     font-style: normal;
     font-weight: 700;
     letter-spacing: 0.4px;
     margin: 0;
 }

 .header-btn {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 100%;
    border-style: solid;
    border-color: #eee;
    border-width: 3px;
    padding: 0;
 }

 .menu-navigation {
   display: flex;
   justify-content: space-between;
 }

 .menu-btn {
   width: 45px;
   height: 45px;
   border: none;
   background-color: white;
   text-align: center;
 }

 .friends-list-btn {
   flex-shrink: 0;
   border-radius: 5px;
   border-width: 0px;
   border-bottom: 2px solid #0038FF;
   background: #F1F6F9;
   box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
 }

 .profile-btn {
   display: flex;
   justify-content: space-around;
   align-items: center;
 }

 .profile-image {
   height: 25px;
   width: 25px;
   background-color: #15E0FE;
   border-radius: 100%;
 }

 .profile-image img {
   margin-top: 2px;
   border-radius: 100%;
 }

 .search-field {
    margin-top: 8px;
    padding-left: 12px;
    width: 336px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 5px;
    background: linear-gradient(180deg, #F1F6F9 0%, #F5F5F5 100%);
    border: none;
    text-align: left;
    color: #858585;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.4px;
 }

 .search-community-btn {
    border: none;
    border-left: 1px solid #858585;
    background: none;
    position: absolute;
    top: 13px;
    right: 0px;
 }

 .community-content {
    color: #394867;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.4px;
    margin-left: 12px;
    margin-bottom: 5px;
 }

 .community-account-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px 0px 12px;
    margin-bottom: 5px;
    width: 326px;
    height: 65px;
    border-radius: 5px;
    border: 1px solid #F5F5F5;
    background: #FFF;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
 }

 .friends-profile{
    border: 1px solid #F1F6F9;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    margin-right: 2px;
 }

 .student-name {
    margin: 0;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 106.667% */
    letter-spacing: 0.4px;
 }

 .relation-friends {
    display: flex;
    margin-top: 3px;
 }

 .relation-friends img {
    border: 1px solid #F1F6F9;
    border-radius: 100%;
 }

 .delete-friend-btn {
    width: 60px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #9BA4B5;
    border: none;
    color: #212A3E;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.4px;
 }

 .comfirm-friend-btn {
    width: 60px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #212A3E;
    border: none;
    color: #ffffff;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.4px;
    margin-left: 2px;
 }

 
 .lab-profile{
    border: 3px solid #F1F6F9;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    margin-right: 2px;
 }

 .relation-friends p {
    color: #000;
    font-size: 7px;
    font-style: normal;
    font-weight: 600;
    line-height: 10px; /* 228.571% */
    letter-spacing: 0.4px;
    margin: 0;
    margin-left: 2px;
 }